:root {
    --background-color: rgb(241, 233, 201);
    --hover-color: rgb(180, 171, 134);
    --plastic-color: blue;
    --player1-color: yellow;
    --player2-color: red;
    --shadow-color: rgba(0, 0, 0, 0.445);
}

html {
    font-family: system-ui, sans-serif;
    background-color: lightgray;
}

body {
    background-color: var(--background-color);
    margin: 1em auto;
    max-width: 30rem;
    padding: 1rem;
    box-shadow: 0 0 1em 0.3em darkgray;
    border-radius: 0.2em;
}

h1 {
    text-align: center;
}

c4-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 1em;
    padding: 3%;

    border: solid 0.3em var(--plastic-color);
    background-color: var(--plastic-color);
    border-radius: 1em;
	box-shadow: 0 0 1em var(--shadow-color);
}

c4-grid button {
    aspect-ratio: 1/1;
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 0.3em var(--shadow-color);
    transition: background-color 0.2s;
}

c4-grid button[data-state="1"] {
    background-color: var(--player1-color);
}

c4-grid button[data-state="2"] {
    background-color: var(--player2-color);
}

c4-grid button:not([data-state]):hover,
c4-grid button[data-state="0"]:hover {
    background-color: var(--hover-color);
}